@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  padding: 60px 0;
}

img {
  max-width: 100%;
}

.heroHeader {
  margin-bottom: 40px;
}

.mainCont {
  position: relative;
}

.mainText {
  position: absolute;
  top: 29%;
  left: 5%;
  text-transform: uppercase;
  font-size: 52px;
  font-weight: 500;
}

.secText {
  color: #e03131;
  position: absolute;
  top: 35%;
  left: 5%;
  text-transform: uppercase;
  font-size: 72px;
  font-weight: 800;
}

.buttonContainer {
  display: flex;
  gap: 0.5rem;
  position: absolute;
  top: 28rem;
  left: 12rem;
}

.sectionWrapper {
  position: relative;
}

.gift {
  position: absolute;
  color: #ffe8cc;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 40px;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 100%;
  padding: 20px;
  top: -20%;
}

.gift::after {
  content: "\a gift";
  white-space: pre;
}

.landingImage {
  background: url("../../../img/ShopImg/freehat.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 60vh;
  border-radius: 60px;
  border: solid 2px #000;
}

.landingText {
  font-weight: 800;
  position: absolute;
  text-transform: uppercase;
  font-size: 52px;
  color: #ffe8cc;
  top: 140px;
  left: 110px;
}

.landingSecText {
  font-weight: 800;
  position: absolute;
  text-transform: uppercase;
  font-size: 32px;
  color: #000;
  top: 200px;
  left: 100px;
}

.gridWrapper {
  display: grid;
  width: 100%;
  max-width: 100%;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr minmax(1fr, 400px) 1fr;
  padding: 0 20px;
  align-items: center;
  border-top: #000 1px solid;
  padding-top: 40px;
}

.browse {
  text-transform: capitalize;
  font-size: 35px;
  font-weight: 600;
  color: #ced4da;
  text-align: center;
  position: absolute;
  top: -18%;
  left: 3%;
}

.gridItemMain {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  align-self: center;
}

.gridHeader {
  position: absolute;
  left: 42%;
  top: 10%;
}

.gridItemSec {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.gridHeaderSec {
  position: absolute;
  left: 42%;
  top: 10%;
}

.gridItemThird {
  position: relative;
  grid-column: 3 / 4;
}

.gridHeaderThird {
  position: absolute;
  left: 42%;
  top: 10%;
}

.gridItemFourth {
  position: relative;
  grid-row: 2 / 3;
  grid-column: 1 / 4;
}

.gridHeaderFourth {
  position: absolute;
  top: 40%;
  left: 15%;
}

.gridItemFourth::after {
  content: "all jewerlly discount";
  text-transform: capitalize;
  position: absolute;
  font-size: 52px;
  font-weight: 500;
  color: #c0c0c0;
  left: 2%;
  top: 20%;
}

.discount::before {
  position: absolute;
  content: "up to 70% off";
  text-transform: capitalize;
  font-size: 72px;
  font-weight: 800;
  color: #cc5de8;
  top: 27%;
  left: 2%;
}

.gridItemFifth {
  position: relative;
  grid-row: 3 / 4;
  grid-column: 1 / 3;
}

.gridHeaderFifth {
  position: absolute;
  top: 40%;
  left: 80%;
}

.gridItemSix {
  position: relative;
  grid-row: 3/4;
  grid-column: 3/4;
}

.gridHeaderSix {
  position: absolute;
  top: 2%;
  left: 42%;
}

.gridItem > img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.gridItemMain > img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.gridItemMain > img:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.gridItemSec > img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.gridItemSec > img:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.gridItemThird > img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.gridItemThird > img:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.gridItemFourth > img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  width: 100%;
}

.gridItemFourth > img:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.gridItemFifth > img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.gridItemFifth > img:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.gridItemSix > img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.gridItemSix > img:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* 600 , 768 , 992 , 1200 */

@media (max-width: 1200px) {
  .mainText {
    font-size: 2.5rem;
  }
  .secText {
    font-size: 2.5rem;
  }
  .buttonContainer {
    top: 22rem;
    left: 3rem;
  }
  .browse {
    font-size: 30px;
  }
  .gridItemFourth::after {
    font-size: 40px;
  }
  .discount::before {
    font-size: 40px;
  }
}

@media (max-width: 992px) {
  .mainText {
    font-size: 2rem;
  }
  .secText {
    font-size: 2rem;
  }
  .buttonContainer {
    top: 17rem;
    left: 3rem;
  }
  .browse {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .mainText {
    font-size: 1.5rem;
  }
  .secText {
    font-size: 1.5rem;
  }
  .buttonContainer {
    top: 12rem;
    left: 2rem;
  }
  .browse {
    font-size: 24px;
    line-height: 1.2rem;
  }
  .gridItemFourth::after {
    font-size: 22px;
  }
  .discount::before {
    font-size: 22px;
  }
}

@media (max-width: 600px) {
  .buttonContainer {
    top: 10rem;
    display: flex;
    flex-direction: column;
  }
}
