.fix {
  overflow-x: hidden;
}

.Hero {
  position: relative;
  height: 80vh;
  width: 100vw;
  margin-top: 100px;
  background: rgb(170, 170, 170);
  background: linear-gradient(
    201deg,
    rgba(170, 170, 170, 1) 28%,
    rgba(8, 7, 0, 1) 100%
  );
}

.Hero::before {
  content: "Wear The Storm";
  color: #fff;
  position: absolute;
  top: 10%;
  left: 62%;
  font-weight: 500;
  line-height: 150%;
  font-size: 82px;
  width: 10%;
}

.headerImg {
  position: absolute;
  height: 100%;
  width: 45vw;
  max-width: 100%;
  max-height: 100%;
}

.flexWrapper {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 2%;
  /* margin: 0 20px; */
}

.desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1vh;
}

.name {
  font-size: 24px;
  font-weight: 400;
  color: #adb5bd;
}

.price {
  font-size: 22px;
  font-weight: 400;
  color: #ced4da;
}
