.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modalWrapper {
  box-shadow: 10px 10px 20px 10px rgba(22, 24, 23, 0.61);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  /* background-color: #fad961;
  background-image: linear-gradient(90deg, #fad961 0%, #f76b1c 100%); */
  background: #3c3b3f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #605c3c,
    #3c3b3f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #605c3c,
    #3c3b3f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 10px;
}

.modalWrapper > button {
  cursor: pointer;
}

.connectBtns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.connectBtns > button {
  cursor: pointer;
}

.loginBtn {
  background: rgb(195, 122, 34);
  background: linear-gradient(
    0deg,
    rgba(195, 122, 34, 1) 0%,
    rgba(238, 219, 44, 1) 59%
  );
  border-radius: 10px;
  border-width: 0;
  padding: 7px;
}

.accBtn {
  background-color: #339af0;
  border-radius: 10px;
  border-width: 0;
}

.closeBtn {
  background-color: #fa5252;
  border-radius: 10px;
  border-width: 0;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  width: 100%;
  padding: 7px;
}
