.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modalWrapper {
  box-shadow: 10px 10px 20px 10px rgba(22, 24, 23, 0.61);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  border-radius: 10px;
}

.modalWrapper > button {
  cursor: pointer;
}

.connectBtns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.connectBtns > button {
  cursor: pointer;
}

.loginBtn {
  background: rgb(170, 170, 170);
  background: linear-gradient(
    201deg,
    rgba(170, 170, 170, 1) 28%,
    rgba(245, 224, 28, 1) 100%
  );
  border-radius: 10px;
  border-width: 0;
  padding: 7px;
  font-weight: 400;
  font-size: 15px;
}

.loginBtn:hover {
  box-shadow: -2px 12px 5px -9px rgba(0, 0, 0, 0.72);
  -webkit-box-shadow: -2px 12px 5px -9px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: -2px 12px 5px -9px rgba(0, 0, 0, 0.72);
}

.accBtn {
  background: #3c3b3f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #605c3c,
    #3c3b3f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #605c3c,
    #3c3b3f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 10px;
  border-width: 1px;
  font-weight: 400;
  font-size: 15px;
  padding: 7px;
}

.accBtn:hover {
  box-shadow: -2px 12px 5px -9px rgba(0, 0, 0, 0.72);
  -webkit-box-shadow: -2px 12px 5px -9px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: -2px 12px 5px -9px rgba(0, 0, 0, 0.72);
}

.closeBtn {
  background: rgb(117, 112, 112);
  background: linear-gradient(
    16deg,
    rgba(117, 112, 112, 1) 22%,
    rgba(14, 102, 205, 1) 98%
  );
  border-radius: 10px;
  border-width: 0;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  width: 100%;
  font-weight: 400;
  font-size: 15px;
  padding: 7px;
}

.closeBtn:hover {
  box-shadow: -2px 12px 5px -9px rgba(0, 0, 0, 0.72);
  -webkit-box-shadow: -2px 12px 5px -9px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: -2px 12px 5px -9px rgba(0, 0, 0, 0.72);
}

.disableScroll {
  overflow-y: hidden;
}
