* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.signUpPadding {
  padding: 50px 0 0 0;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(0, 0, 0) 0%,
    rgb(64, 64, 64) 90.2%
  );
}

.container {
  border-radius: 10%;
  background-color: #fff;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.mainSignUp {
  display: flex;
  flex-direction: column;
}

.signUpHeader img {
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.signUpContent {
  display: flex;
  justify-content: space-evenly;
}

.leftSignUp {
  width: 500px;
  max-width: 100%;
}

.leftSignUp h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}

.leftSignUp p {
  margin-top: 20px;
  line-height: 22px;
  font-weight: 500;
  color: #656769;
}

.rightSignUp {
  width: 500px;
  max-width: 100%;
}

.rightSignUp img {
  border-radius: 10%;
  width: 100%;
  opacity: 0.95;
}

.signUpButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.leftSignUp em {
  color: #247bfe;
}

.signFooter {
  display: flex;
  width: 1200px;
  max-width: 100%;
  justify-content: space-around;
  align-items: center;
}

.signFooterLeft {
  width: 500px;
  max-width: 100%;
}

.signFooterLeft img {
  width: 40%;
  height: 140px;
}

.signFooterRight {
  color: #656769;
}
