* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Home Section */

.headerMain {
  margin-top: 150px;
}

.mainHeader {
  font-size: 72px;
  line-height: 80px;
  color: #fff;
  text-align: center;
}

.headerSlogan {
  font-size: 22px;
  margin-top: 30px;
  color: #d4e1e9;
  text-align: center;
}

.buttonContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* image Section */

section {
  padding: 30px 0;
}

.mainImg {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 70%;
}

/* Features Section */

.aboutSection {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px 30px;
  border-bottom: 1px solid #656769;

  display: flex;
  justify-content: space-between;
}

.aboutLeftSide {
  width: 40%;
}

.aboutLeftSide img {
  width: 100%;
  border-radius: 20%;
}

.aboutRightSide {
  width: 40%;
}

.aboutRightTextWrapper {
  margin-top: 40px;
}

.aboutRightHeader {
  color: #247bfe;
  font-size: 20px;
  font-weight: 600;
}

.aboutRightSlogan {
  margin-top: 22px;
  font-size: 40px;
  font-weight: 800;
  line-height: 50px;
}

.aboutRightRow {
  display: flex;
  gap: 15px;
  margin-bottom: 35px;
}

.aboutRightText p {
  margin-top: 10px;
  color: #656769;
  line-height: 26px;
}

/* Pricing Section */

.priceContainer {
  max-width: 100%;
}

.priceHeader {
  text-align: center;
  color: #fff;
  font-size: 52px;
  font-weight: 500;
}

.priceSuggest {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.priceTab {
  margin-top: 20px;
}

.priceTab button {
  padding: 12px 40px;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  /* border */
  background: linear-gradient(
        rgba(0, 0, 0, 1) 25%,
        rgba(0, 0, 0, 1) 65%,
        rgba(0, 0, 0, 1) 100%
      )
      padding-box,
    linear-gradient(
        90deg,
        rgba(19, 162, 218, 1) 2%,
        rgba(0, 127, 254, 1) 50%,
        rgba(0, 112, 255, 1) 100%
      )
      border-box;
  border-width: 3px;
  border-style: solid;
  border-color: transparent;
  border-radius: 10px;
}
