* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header Section */

h1 {
  font-size: 72px;
  line-height: 80px;
  color: #fff;
  text-align: center;
}

.headerSlogan {
  font-size: 22px;
  margin-top: 30px;
  color: #d4e1e9;
  text-align: center;
}

.buttonContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* image Section */

section {
  padding: 30px 0;
}

.mainImg {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 70%;
}

/* About Section */

.aboutSection {
  background-color: #fff;
  border-radius: 10px;
  padding: 83px 0;
  border-bottom: 1px solid #656769;
}

.aboutContentSection {
  background-color: #fff;
  border-style: none;
}
