.itemWrapper {
  margin-top: 20px;
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #868e96;
  align-items: center;
}

.three {
  width: 40%;
  display: flex;
  gap: 10%;
}

.remove {
  align-self: center;
  cursor: pointer;
}

.remove > svg {
  cursor: pointer;
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  width: 15%;
  text-align: center;
}

.quantity > svg {
  cursor: pointer;
}

.price {
  text-align: center;
  width: 15%;
}

.size {
  text-align: center;
  width: 15%;
}

.subtotal {
  text-align: center;
  width: 15%;
}
