/* #e03131 */
/* #292826 */

.navbar {
  color: #292826;
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  background: rgba(0, 0, 0, 0.1);
  /* border-bottom: 1px solid #292826; */
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  z-index: 10;
}

.logo {
  text-decoration: none;
  color: #292826;
}

/* Navbar On Scroll */
.colorNav {
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  background-color: transparent;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  z-index: 10;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.navbarLeft {
  display: flex;
  max-width: 100%;
  min-width: 40%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 5%;
}

.navbarLeft a {
  position: relative;
  transition-duration: 0.5s;
  font-weight: 700;
}

.navbarLeft a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 0;
  height: 2px;
  background-color: #e03131;
  transition: width 0.3s ease-in-out;
}

.navbarLeft a:hover {
  cursor: pointer;
  transform: translateY(-2px);
}

.navbarLeft a:hover::after {
  width: 100%;
}

.logo {
  font-weight: 600;
  font-size: 35px;
}

.navbarRight {
  display: flex;
  max-width: 100%;
  min-width: 40%;
  align-items: center;
  justify-content: flex-end;
  gap: 2%;
}

.navbarRight path {
  cursor: pointer;
}

.tiktok > svg {
  width: 20px;
  height: auto;
}

.loginBox {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
}

.loginText {
  cursor: pointer;
  font-weight: 500;
  color: #e03131;
}

.cartContainer {
  position: relative;
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
  position: relative;
}

.customInput {
  height: 35px;
  width: 250px;
  border: none;
  border-radius: 10px;
  padding-left: 35%;
}

.customInput:focus {
  outline: none;
  border: 1px solid #292826;
  border-color: grey;
}

.customSelect {
  position: absolute;
  left: 5%;
  border: none;
  max-width: 25%;
  border-right: 1px solid #292826;
}

.customSelect:focus {
  outline: none;
}
