.wrapper {
  margin-top: 0px;
}

.box {
  padding: 60px 20px;
  display: flex;
  max-width: 100%;
  height: auto;
}

.left {
  width: 60%;
  max-width: 100%;
}

.right {
  width: 40%;
}

.imgT {
  object-fit: fill;
  width: 80%;
  height: 700px;
}

.name {
  font-weight: 500;
  font-size: 40px;
}

.review {
  padding-top: 5px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
}

.rating {
  color: #fcc419;
}

.id {
  padding-top: 5px;
  color: grey;
  font-size: 12px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(200, 197, 197);
}

.descWrapper {
  margin-top: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.desc {
  /* font-weight: 500; */
}

.priceW {
  display: flex;
  align-items: baseline;
  gap: 5px;
}

.price {
  font-weight: 700;
  font-size: 32px;
}

.symbol {
  font-weight: 500;
  font-size: 18px;
}

.sizeW {
  margin-top: 20px;
  border-bottom: 1px solid rgb(200, 197, 197);
  padding-bottom: 20px;
}

.sizeHelp {
  text-align: center;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 500;
}

.chart {
  text-decoration: underline;
  display: inline-block;
  cursor: pointer;
}

.payment {
  margin-top: 20px;
}

.aboutUsSection {
  border-top: 1px solid #495057;
  padding-top: 30px;
  margin-top: -130px;
}

.aboutUsHeaderWrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutUsHeader {
  max-width: 400px;
  color: black;
  text-align: center;
  font-size: 52px;
  font-weight: 500;
  line-height: 52px;
}

.aboutUsMiniHeader {
  margin-top: 30px;
  max-width: 555px;
  text-align: center;
  font-size: 22px;
  color: #868e96;
  line-height: 30px;
}

.aboutUsBlock {
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  max-width: 100%;
  justify-content: center;
}

.abooutUsSingleBox {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-width: 12px;
}

.commentHeader {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.commentText {
  padding: 10px 20px;
  color: #495057;
}

.commentSource {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 20px;
}

.socialDate {
  color: #495057;
}

.table1 {
  width: 50%;
}

.table2 {
  width: 50%;
}

.shoeTable {
  text-align: center;
  width: 100%;
  border-collapse: collapse;
}

.shopSizes > th {
  max-width: 0.5rem;
}

.jwTable {
  text-align: center;
  width: 100%;
  border-collapse: collapse;
}

.jwSizes > th:not(:first-child) {
  max-width: 0.5rem;
}

th {
  height: 2rem;
}

tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.1);
}
