* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  padding: 2rem;
  background-color: #383535;
}

.header ul {
  display: flex;
  gap: 2rem;
  justify-content: center;
  list-style-type: none;
}

.header a {
  color: #e5e5e5;
  font-size: 1.15rem;
  text-decoration: none;
}

.header a:hover,
.header a:active,
.header a.active {
  color: #fcb66b;
}
