* {
  box-sizing: border-box;
}

.footerWrapper {
  color: #fff;
}

.footerTop {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  border-bottom: 1px solid #656769;
}

.emailSubmit {
  display: flex;
  position: relative;
  width: 178%;
  height: 58px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
}

.emailInput {
  display: flex;
  position: relative;
  width: 178%;
  height: 58px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  padding-left: 14px;
  margin: 10px 0;
  height: 70px;
}

label {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 10px;
}

.btn {
  position: absolute;
  left: 258px;
  top: 16px;
}

.logo {
  height: 170px;
  width: 250px;
}
