/* #171717 */
/* #090909 */

.logo {
  height: 130px;
  width: 130px;
}

.navBar {
  /* For Sticky Navbar */
  position: fixed;
  top: 0;
  width: 80%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
  /*  */
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
}

.fixedNav {
  /* For Sticky Navbar */
  position: fixed;
  top: 0;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
  width: 80%;
  /*  */
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
  /* When Navbar Hits a cetain px change color and Border */
  background-color: rgba(12, 13, 14, 0.917);
  border-radius: 20px;
}

.profileContainer {
  display: flex;
  gap: 5px;
  align-items: center;
  transition: all 0.3s;
}

.navEnd {
  display: flex;
  gap: 30px;
  align-items: center;
  padding-right: 10px;
}

.header {
  position: relative;
  padding: 10px 30px;
  background-color: transparent;
  border-radius: 10px;
  z-index: 100;
}

.mainNavUl {
  display: flex;
  gap: 50px;
  list-style-type: none;
  transition: all 0.3s;
}

.mainNavLi {
  color: #e5e5e5;
  font-size: 18.4px;
  text-decoration: none;
  transition: all 0.3s;
}

.mainNavLi:hover,
.mainNavLi:active,
.mainNavLi.active {
  color: #247bfe;
  cursor: pointer;
  -moz-transform: translate(5px, 0px);
  -webkit-transform: translate(5px, 0px);
  -o-transform: translate(5px, 0px);
  -ms-transform: translate(5px, 0px);
  transform: translate(5px, 0px);
}

.pages {
  display: flex;
  gap: 2px;
}

.login {
  color: #fff;
  text-decoration: none;
}

.profileContainer:hover,
.profileContainer:active,
.profileContainer:active {
  -moz-transform: translate(5px, 0px);
  -webkit-transform: translate(5px, 0px);
  -o-transform: translate(5px, 0px);
  -ms-transform: translate(5px, 0px);
  transform: translate(5px, 0px);
}
