/* #171717 */
/* #090909 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  height: 130px;
  width: 130px;
}

.navBar {
  /* For Sticky Navbar */
  position: fixed;
  top: 0;
  width: 80%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
  /*  */
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
}

.fixedNav {
  /* For Sticky Navbar */
  position: fixed;
  top: 0;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
  width: 80%;
  /*  */
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
  /* When Navbar Hits a cetain px change color and Border */
  background-color: rgba(12, 13, 14, 0.917);
  border-radius: 20px;
}

.profileContainer {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navEnd {
  display: flex;
  gap: 15px;
  align-items: center;
}

.dropDown {
  overflow: hidden;
}

.dropDownContent {
  display: none;
  position: absolute;
  z-index: 1000;
}

.dropDownContent a {
  display: block;
}

.header {
  position: relative;
  padding: 10px 30px;
  background-color: transparent;
  border-radius: 10px;
  z-index: 100;
}

.header ul {
  display: flex;
  gap: 50px;
  list-style-type: none;
}

.header a {
  color: #e5e5e5;
  font-size: 18.4px;
  text-decoration: none;
}

.header a:hover,
.header a:active,
.header a.active {
  color: #339af0;
}

.pages {
  display: flex;
  gap: 2px;
}

.login {
  margin-right: 20px;
}
