.CardShow {
  animation: showCard 3.4s;
}

.CardHide {
  animation: hideCard 3.4s;
}

@keyframes showCard {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  50% {
    opacity: 1;
    transform: translateX(90%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes hideCard {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  50% {
    opacity: 0.8;
    transform: translateX(60%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}
