.section {
  margin-top: 35px;
}

.flexWrapper {
  display: flex;
  width: 100%;
  max-width: 100%;
  gap: 5%;
  padding: 2rem;
}

.leftSide {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.box {
  padding: 1rem;
  background-color: #f1f3f5;
}

.header {
  font-size: 22px;
  text-align: center;
}

.content {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}

.rightSide {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.accbox {
  padding: 1rem;
  background-color: #f1f3f5;
}

.rowContent {
  margin-top: 2rem;
}

.row {
  margin-top: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.data {
  margin-top: 0.3rem;
  margin-left: 5rem;
}

.orderBox {
  padding: 1rem;
  background-color: #f1f3f5;
}

.singleOrder {
  padding: 1rem;
  border-bottom: 1px solid #000;
}
